/*COM 复用代码-Start*/
.com-wrap { width: 952px; /*网页宽度*/ margin: 0px auto; position: relative; }
/*COM 复用代码-End*/
body{background: #d4d4d4;}
a:link,a:visited{color:#666666; /*主链接颜色*/}
a:hover,a:focus{color:#2ca097; /*链接经过颜色*/}
a:hover,a:active,a:focus{ text-decoration:underline;}
.bk15 {height: 15px;}
.fl {float: left;}
.fr {float: right;}
/* header-Start */
header {height: 51px; line-height: 51px; border-bottom: 2px solid #b6b6b6; background: #f6f6f6;}
.logo {width: 208px; text-align: center;}
.title {font-size: 18px; width: 140px;text-indent: 15px;background: url(../images/oline_sx.png) no-repeat left center; color: #5b5b5b; }
.telbar {font-size: 18px; color: #259991; font-weight: bold;}
/* header-End */


/* 中部区域-Start */
.main {padding: 13px;}

.windbox {background: #fff; width: 554px; height:475px; border: 1px solid #b4b4b4; margin-left: 10px; padding-top:30px;}
.windbox textarea{ width:510px; padding:10px 20px; color:#999; font-size:14px; height:80px; border:none; resize:none;}
.windbox .msgbox { padding:20px;}
.windl .butt {background: url(../images/oline_butt.png) no-repeat center; width: 134px; height: 31px;border: none; cursor: pointer; margin-top: 10px; float: right;}
.windl .butt:hover {filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7}


.windr{ width:360px; font-family:"Microsoft YaHei"; border:1px solid #b4b4b4; background: #fff; margin-right: 10px; }
.windr .hd{ line-height:29px; height:29px; border-bottom:1px solid #C8D1D5;  background:url(images/btn_bg.gif) repeat-x; position:relative; padding-right:10px;  }
.windr .hd .more{ float:right; }
.windr .hd ul{ z-index:5; position:absolute; height:30px; overflow:hidden; zoom:1; }
.windr .hd li{ float:left;  padding:0 32px; cursor:pointer; margin-left:-1px;  color: #8a8a8a; }
.windr .hd li.on{ font-weight:bold; height:30px; line-height:30px; background:#fff; border:1px solid #C8D1D5; border-top:0;  border-bottom:1px solid #fff;  font-weight:bold; color:#23b0a6;border-top: 1px solid #1b978e; }
.windr .bd{  padding:20px 10px 35px 20px; clear:both; position:relative;  }
.windr .bd li {line-height: 24px; overflow: hidden;}
.windr .bd li a {display: block; color: #919191; width: 330px; height: 24px;}

.windr .lnktools {padding:30px 0 15px 20px; border-top: 1px solid #c6c6c6; position: relative;}
.windr .lnktools .tit {position: absolute; top: -15px; left: 18px;}
.windr .lnktools .box {margin-right: 29px;}
.windr .lnktools .box p {text-align: center; line-height: 24px; color: #666666}
/*oline start*/















/*oline end*/


